<body>
    <table class="width-100perc">
        <tbody>
            <tr style="background-color:rgb(199, 213, 239)">
                <td>
                    <img src="assets/img/lamaie.png" style="width: 300px; height: 300px;" class="card-body" alt="...">
                </td>
                <td style="width:6000px">
                    <div>
                        <h1 style="font-size: 25px; font-weight: bold;font-family: Georgia;">Lemon sorbet</h1>
                        <p style="font-family: Garamond;">Rating in magazinele noastre fizice</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 86%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <br>
                          <tr>
                            <div class="inline">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                            Durata: 10min(prep)+10min(gatitul)+inghetatul
                            </div>
                          </tr>
                          <tr>
                            <div class="inline">
                                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                Nivel: usor
                              </div>
                          </tr>
                          <tr>
                              <div class="inline">
                                <i class="fa fa-cutlery" aria-hidden="true"></i>
                                Servire: 4-6 portii
                              </div>
                          </tr>
                             <tr>
                             <br>
                             <div class="inline">
                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                FARA: lactoza, cazeina, oua, gluten
                              </div>
                                <p>Este: vegana si vegetarian</p>
                          </tr>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table>
        <tbody>
            <tr style="background-color:rgb(215, 193, 230)">
                <td style="padding: 20px;">
                    <h2 style="text-shadow: 2px 2px 4px #7baf8ae1;">Ingrediente</h2>
                    <hr>
                    <p>250 g zahăr tos alb</p>
                    <p> fâșie groasă de coajă de lămâie</p>
                    <p>suc de 2-3 lămâi</p>
                    <p>2 linguri de vodca (optional)</p>
                    <h2>A servi</h2>
                    <p>coaja unei jumatati de lamaie</p>
                    
                </td>
                <td style="padding: 20px;">
                    <h2 style="text-shadow: 2px 2px 4px #7baf8ae1;">Metoda</h2>
                    <hr>
                    <p>PASUL 1
                        Se încălzește 250 ml apă, zahărul și coaja de lămâie într-o tigaie mică până când zahărul s-a dizolvat apoi se aduce amestecul la fierbere. Gatiti 3 minute apoi opriti focul si lasati sa se raceasca. Alegeți coaja de lămâie și aruncați-o. Se măsoară 100 ml de suc de lămâie și se adaugă la amestecul de zahăr împreună cu vodca, dacă folosești.</p>
                    <p>PASUL 2
                        Se toarnă într-o cutie de congelator și se congelează timp de 1 oră și 30 de minute, apoi se amestecă cu un tel pentru a se sparge și încorpora cristalele de gheață (care vor începe să se formeze pe margini) înainte de a se întoarce la congelator.</p>
                    <p>PASUL 3
                        Continuați să amestecați sorbetul o dată pe oră timp de 4 ore pentru a sparge cristalele de gheață. Opriți amestecarea când este ferm, dar încă se poate scoate, apoi păstrați la congelator timp de până la 1 lună. Serviți cupe de sorbet decorate cu câteva bucle de coajă de lămâie.</p>
                    
            </tr>
        </tbody>
    </table>
</body>
