<div class="container">
    <form [formGroup]="contactForm" class="form-group">

<mat-form-field appearance="fill">
    <mat-label>Nume</mat-label>
    <input matInput formControlName="nume">
  </mat-form-field>

  <small *ngIf="contactForm?.get('nume')?.invalid && contactForm?.get('nume')?.touched">Lipseste nume</small>

  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email">
  </mat-form-field>
  <small *ngIf="contactForm?.get('email')?.invalid && contactForm?.get('email')?.touched">Lipseste email</small>


  <mat-form-field appearance="fill">
    <mat-label>Selecteaza</mat-label>
    <mat-select formControlName="subiect">
      <mat-option value="Retete">Retete</mat-option>
      <mat-option value="Ingrediente">Ingrediente</mat-option>
    </mat-select>
  </mat-form-field>
  <small *ngIf="contactForm?.get('subiect')?.invalid && contactForm?.get('subiect')?.touched">Lipseste categoria</small>


  <mat-form-field appearance="fill">
    <mat-label>Mesaj</mat-label>
    <textarea matInput formControlName="mesaj"></textarea>
  </mat-form-field>
  <small *ngIf="contactForm?.get('mesaj')?.invalid && contactForm?.get('mesaj')?.touched">Lipseste mesajul</small>


  <button type="reset" mat-raised-button color="accent" [disabled]="contactForm.invalid" (click)="submitData(contactForm.value)">Trimite mesaj</button>
<p *ngIf="isSubmit" class="submitMesaj">{{submitMesaj}}</p>
</form>
</div>