<body>
    <table class="width-100perc">
        <tbody>
            <tr style="background-color:rgb(199, 213, 239)">
                <td>
                    <img src="assets/img/zmeura.png" style="width: 300px; height: 300px;" class="card-body" alt="...">
                </td>
                <td style="width:6000px">
                    <div>
                        <h1 style="font-size: 25px; font-weight: bold;font-family: Georgia;">Raspberry sorbet</h1>
                        <p style="font-family: Garamond;">Rating in magazinele noastre fizice</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 97%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <br>
                          <tr>
                            <div class="inline">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                            Durata: 15min(prep)+10min(gatitul)+5ore 30min(inghetatul)
                            </div>
                          </tr>
                          <tr>
                            <div class="inline">
                                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                Nivel: usor
                              </div>
                          </tr>
                          <tr>
                              <div class="inline">
                                <i class="fa fa-cutlery" aria-hidden="true"></i>
                                Servire: 8-10 portii
                              </div>
                          </tr>
                             <tr>
                             <br>
                             <div class="inline">
                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                FARA: lactoza, cazeina, oua, gluten
                              </div>
                                <p>Este: vegana</p>
                          </tr>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table>
        <tbody>
            <tr style="background-color:rgb(215, 193, 230)">
                <td style="padding: 20px;">
                    <h2 style="text-shadow: 2px 2px 4px #7baf8ae1;">Ingrediente</h2>
                    <hr>
                    <p>200g zahar granulat</p>
                    <p>500g zmeura</p>
                    <p>sucul de la o lamaie</p>
                    
                </td>
                <td style="padding: 20px;">
                    <h2 style="text-shadow: 2px 2px 4px #7baf8ae1;">Metoda</h2>
                    <hr>
                    <p>PASUL 1
                        Intr-o cratita se pune zaharul si 270 ml apa la foc mic si se amesteca pana se dizolva zaharul. Ridicați focul și fierbeți timp de 5 minute, sau până când lichidul devine un sirop. Se da deoparte la racit.</p>
                    <p>PASUL 2
                        Puneți zmeura și sucul de lămâie într-un robot de bucătărie și amestecați până la omogenizare. Se strecoară printr-o sită fină într-un castron și se aruncă semințele. Se amestecă cu siropul de zahăr, apoi se toarnă într-un recipient rezistent la congelator.</p>
                    <p>PASUL 3
                        Congelați timp de 1 oră și 30 de minute, apoi bateți cu un tel cu balon sau cu o furculiță pentru a sparge orice cristale de gheață care s-au format și reveniți la congelator.</p>
                    <p>PASUL 4
                        Continuați să amestecați sorbetul o dată pe oră timp de 4 ore pentru a sparge cristalele de gheață. Opriți amestecarea când este ferm, dar se poate scoate. Se va păstra la congelator până la o lună. Serviți cu zmeură suplimentară, dacă doriți.</p>
            </tr>
        </tbody>
    </table>
</body>
