<body>
    <table class="width-100perc">
        <tbody>
            <tr style="background-color:rgb(199, 213, 239)">
                <td>
                    <img src="assets/img/matcha.png" style="width: 300px; height: 300px;" class="card-body" alt="...">
                </td>
                <td style="width:6000px">
                    <div>
                        <h1 style="font-size: 25px; font-weight: bold;font-family: Georgia;">Matcha froyo ice lollies</h1>
                        <p style="font-family: Garamond;">Rating in magazinele noastre fizice</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <br>
                          <tr>
                            <div class="inline">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                            Durata: 5min(prep)+4ore(inghetatul)
                            </div>
                          </tr>
                          <tr>
                            <div class="inline">
                                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                Nivel: usor
                              </div>
                          </tr>
                          <tr>
                              <div class="inline">
                                <i class="fa fa-cutlery" aria-hidden="true"></i>
                                Servire: 6 portii
                              </div>
                          </tr>
                             <tr>
                             <br>
                             <div class="inline">
                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                FARA: lactoza, cazeina, oua, gluten, zahar
                              </div>
                                <p>Este: vegana si vegetarian</p>
                          </tr>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table>
        <tbody>
            <tr style="background-color:rgb(215, 193, 230)">
                <td style="padding: 20px;">
                    <h2 style="text-shadow: 2px 2px 4px #7baf8ae1;">Ingrediente</h2>
                    <hr>
                    <p>1 lingura de pudra matcha</p>
                    <p>400g iaurt cocos</p>
                    <p>2-3 linguri sirop de zahar</p>
                    <p>100ml apa</p>
                    
                </td>
                <td style="padding: 20px;">
                    <h2 style="text-shadow: 2px 2px 4px #7baf8ae1;">Metoda</h2>
                    <hr>
                    <p>PASUL 1
                        Se amestecă pudra matcha cu iaurtul de cocos, siropul de arțar și 100 ml apă, apoi se toarnă în șase forme pentru acadele de gheață și se congelează timp de cel puțin 4 ore sau peste noapte.</p>
            </tr>
        </tbody>
    </table>
</body>
