<body  style="background-color: rgb(205, 192, 223);">
<table class="table table-success table-striped">
<tbody>
   <div class="mar center">
    <tr style="color: white; text-shadow: 2px 2px 4px #000000; font-size: large;">
        <td style="padding: 10px;">Produs</td>
        <td style="padding: 10px;"></td>
        <td style="padding: 10px;">kcal</td>
        <td style="padding: 10px;">grasimi</td>
        <td style="padding: 10px;">saturate</td>
        <td style="padding: 10px;">carbohidrați</td>
        <td style="padding: 10px;">fibre</td>
        <td style="padding: 10px;">proteina</td>
        <td style="padding: 10px;">sare</td>
    </tr>
    <tr>
        <td>Vegan key lime pie</td>
        <td></td>
        <td>477g</td>
        <td>38g</td>
        <td>20g</td>
        <td>26g</td>
        <td>4g</td>
        <td>7g</td>
        <td>0.4g</td>
    </tr>
    <tr>
        <td>Choc-cherry fudge torte with cherry sorbet</td>
        <td></td>
        <td>580g</td>
        <td>18g</td>
        <td>3g</td>
        <td>101g</td>
        <td>3g</td>
        <td>4g</td>
        <td>0.3g</td>
    </tr>
    <tr>
        <td>Berry nice cream cake</td>
        <td></td>
        <td>304g</td>
        <td>18g</td>
        <td>3g</td>
        <td>25g</td>
        <td>4g</td>
        <td>8g</td>
        <td>0.5g</td>
    </tr>
    <tr>
        <td>Raspberry sorbet</td>
        <td></td>
        <td>96g</td>
        <td>0g</td>
        <td>0g</td>
        <td>22g</td>
        <td>2g</td>
        <td>1g</td>
        <td>0g</td>
    </tr>
    <tr>
        <td>Lemon sorbet</td>
        <td></td>
        <td>179g</td>
        <td>0g</td>
        <td>0g</td>
        <td>43g</td>
        <td>0g</td>
        <td>0g</td>
        <td>0g</td>
    </tr>
    <tr>
        <td>Matcha froyo ice lollies</td>
        <td></td>
        <td>154g</td>
        <td>13g</td>
        <td>11g</td>
        <td>8g</td>
        <td>0g</td>
        <td>2g</td>
        <td>0g</td>
    </tr>
   </div>
</tbody>
  </table>

<br><br><br><br>

<table style="background-color: rgb(205, 192, 223);border-style: double; border-color: rgb(136, 61, 4);">
    <tbody>
        <tr style="text-align: center;">
        <td style="padding: 30px;">
            <h1 style="font-family: Georgia;">Începerea unei diete fără gluten este o alegere a stilului de viață pe care o fac oamenii din mai multe motive.</h1>
                <p style="font-family: Garamond;">Indiferent dacă doresti sa renunti la a consuma gluten din motive personale sau pentru faptul ca ai o boala celiacă, există mai multe beneficii ale unei diete fără gluten.</p>
            <h1 style="font-family: Georgia;">Există o mulțime de motive pentru a începe o dietă fără gluten</h1>
        <p style="font-family: Garamond;">✾ Niveluri ridicate de energie ✾ Elimină balonarea ✾ Ajută la ameliorarea durerilor articulare ✾ Creșteți-vă aportul zilnic de fructe și legume ✾ Fără gluten poate îmbunătăți sănătatea oaselor.</p>
        </td>

        <td> <img src="assets/img/ultima1.jpeg" style="width: 300px; height: 300px; border-radius: 180px;" class="card-body" alt="..."></td>  
   
        <td ><img src="assets/img/ultima3.jpeg" style="width: 300px;  border-radius: 50px;" class="card-body" alt="..."></td>
   </tr>
</tbody>
</table>


<table style="background-color: rgb(205, 192, 223); border-style: double; border-color: rgb(109, 81, 7);">
    <tbody>
   <tr style="text-align: center;">
    <td>
        <img src="assets/img/nuci.jpeg" style="width: 300px; height: 300px; border-radius: 30px;" class="card-body" alt="...">
    </td>
    <td style="padding: 40px;">
        <h1 style="font-family: Georgia;">
            Multe nuci sunt bogate în acizi grași omega-3. Omega-3 sunt acizi grași sănătoși. Acestea pot reduce riscul de atacuri de cord și accident vascular cerebral.
        </h1>
        <p style="font-family: Garamond; font-size: 18px;">
            Nucile au un conținut ridicat de grăsimi, deci sunt bogate în energie. În majoritatea nucilor, aceasta este în principal grăsimi nesaturate: fie grăsimi polinesaturate din nuci și nuci de pin, fie grăsimi mononesaturate din migdale, fistic, nuci pecan și alune, de exemplu. Nucile de Brazilia, nucile de caju și nucile de macadamia sunt mai bogate în grăsimi saturate.
        </p>
    </td>
   </tr>
</tbody>
</table>


<table style="background-color: rgb(205, 192, 223); border-style: double; border-color: rgb(75, 109, 7);">
    <tbody>
   <tr>
    <td style="text-align: center; padding: 50px;">
        <h1 style="font-family: Georgia; font-size: 30px;">Uleiul de cocos</h1>
        <h2 style="font-family: Georgia;">Are proprietăți antiinflamatorii, antimicrobiene și antifungice        </h2>
        <p style="font-family: Garamond; font-size: 18px;">Aproximativ 50% din MCFA din uleiul de cocos sunt un tip numit acid lauric, care contribuie la proprietățile antiinflamatorii, antimicrobiene și antifungice ale uleiului.        </p>
        <p style="font-family: Garamond; font-size: 18px;">De asemenea nu este toxic la temperaturi inalte (gatit) si nu are gust si miros</p>

    </td>
    <td>
        <img src="assets/img/cocos.jpeg" style="width: 300px; height: 300px; border-radius: 30px;" class="card-body" alt="...">
    </td>
   </tr>
</tbody>
</table>


<table style="background-color: rgb(205, 192, 223);border-style: double; border-color: rgb(136, 61, 4);">
    <tbody>
        <tr style="text-align: center;">
            
        <td>
            <tr>
                <td> <img src="assets/img/ultima2.jpeg" style="width: 210px; height: 210px; border-radius: 180px;" class="card-body" alt="..."></td>  
   
        <td ><img src="assets/img/ultima4.jpeg" style="width: 220px;  border-radius: 100px;" class="card-body" alt="..."></td>
            </tr>
            <tr>
                <td ><img src="assets/img/alb.jpeg" style="width: 220px;  border-radius: 180px;" class="card-body" alt="..."></td>   
                <td> <img src="assets/img/unt.jpeg" style="width: 210px; height: 210px; border-radius: 30px;" class="card-body" alt="..."></td>  

            </tr>
        </td>
      
        <td style="padding: 30px;">
            <h1 style="font-family: Georgia;">Lactatele cauzează adesea simptome de intoleranță la cei care nici măcar nu și-au dat seama că au o problemă cu alimentele.</h1>
                <p style="font-family: Garamond;">În esență, produsele lactate pur și simplu nu sunt făcute potrivite pentru adulti. Acesta produce mucus in organism, ceea ce creaza probleme in functionarea normala a organelor. </p>
            <h1 style="font-family: Georgia;">Majoritatea populației umane are intoleranță la lactoză. Lactoza este un zahăr care se găsește în produsele lactate.</h1>
        <p style="font-family: Garamond;">Efecte secundare neplăcute: ✾ Balonare ✾ Greaţă ✾ Dureri de stomac ✾ Oboseală ✾ Creștere în greutate ✾ Probleme ale pielii ✾ Dureri de cap</p>
        <h1 style="font-family: Georgia;">Iată cum o dietă fără lactate vă poate transforma starea generală in bine:</h1>
        <p style="font-family: Garamond;">✾ Reduce balonarea ✾ Mentine niveluri echilibrate ale pH-ului ✾ Reduce inflamatia ✾ Inbunatateste functionarea sistemului endocrin si al sistemului limfatic </p>
    </td>
   </tr>
</tbody>
</table>


<table style="background-color: rgb(205, 192, 223);border-style: double; border-color: rgb(134, 63, 10);">
    <tbody>
        <tr style="text-align: center;">
        <td style="padding: 30px;">
            <h1 style="font-family: Georgia;">Scade colesterolul</h1>
                <p style="font-family: Garamond;">Curmalele ar trebui să fie incluse în dieta dvs., deoarece pot reduce instantaneu colesterolul și vă pot ajuta să vă gestionați greutatea.</p>
            <h1 style="font-family: Georgia;">Promovează sănătatea creierului</h1>
        <p style="font-family: Garamond;">Fiecare curmale conține colină, vitamina B care este foarte benefică pentru procesul de învățare și memorie.</p>
        </td>

        <td> <img src="assets/img/dates.jpeg" style="width: 300px; height: 300px; border-radius: 90px;" class="card-body" alt="..."></td>  
   
        <td style="width: 400px;padding: 20px;">
        <h1 style="font-family: Georgia; font-size: 30px;" font-size>Curmale/Dates</h1>
        <p style="font-family: Georgia; font-size: 18px;">Curmalele sunt foarte bogate în micronutrienți precum seleniu, mangan, magneziu și cupru. Acești micronutrienți ajută la dezvoltarea sănătății oaselor.        </p>
    <td>
   </tr>
</tbody>
</table>



</body>