<body>
    <table>
        <tbody>
           

            <td>
                <tr>
                    <td>
                        <img src="assets/img/tortmeu.jpeg" style="width:300px; height: 350px;" class="" alt="...">
                    </td>
                    <td>
                        <img src="assets/img/cook.jpeg" style="width:300px; height: 350px;" class="" alt="...">
                    </td>
                    <td>
                        <img src="assets/img/lime2.jpeg" style="width:300px; height: 350px;" class="" alt="...">
                    </td>
                    <td>
                        <img src="assets/img/sorbet.jpeg" style="width:300px; height: 350px;" class="" alt="...">
                    </td>
                </tr>
            </td>
            
            <tr style="background-color:rgba(199, 213, 239, 0.263)">
                    <div class="alert alert-primary" role="alert">
                        <h1 style="text-align:center">Buna!</h1>
                        <h2 style="text-align:center">Bine ai venit  :)</h2>
                      </div>
                    <br>
                    <br>
                    <div class="container">
                        <h1 style="font-family: Georgia;">Bun venit în lumea delicioasă a mâncărurilor <mark>fără gluten, zahăr</mark></h1>
                        <h1 style="font-family: Georgia;"><mark>  și  cazeina</mark>!</h1>
                        <p style="font-family: Monaco;font-size: 20px;">Mâncărurile noastre sunt pregătite cu dragoste și pasiune, cu ingrediente naturale si bogate în nutrienți. Fie că urmezi o dietă fără gluten din motive de sănătate, că ești sensibil la lactoză sau că ai ales o viață fără zahăr, suntem aici să-ți oferim soluții delicioase pentru fiecare masă.</p>
                        <p style="font-family: Monaco;font-size: 20px;">Sperăm că vei încerca multe din rețetele noastre și că vei descoperi că mâncarea fără alergeni poate fi la fel de delicioasă și satisfăcătoare ca orice alt fel de mâncare.</p>
                        <p style="font-family: Monaco;font-size: 20px;">Bucură-te de aventura culinară și nu uita să ne împărtășești impresiile tale în magazinele noastre fizice.</p>
                       <br>
                        <p style="font-family: Monaco;font-size: 20px; text-align: center;">Te așteptam cu drag 🙂</p> 
                        <p style="font-family: Monaco;font-size: 20px; margin-left: 755px;">Lasa-ne un mesaj !!  <button type="button" class="btn btn-outline-dark col-md-12 text-center" routerLink="/contact">Trimite mesaj</button> </p> 
                        
                    </div>
                    <!--
                    <h3 style="margin: 20px;">Bun venit în lumea delicioasă a mâncărurilor <mark>fără gluten, zahăr și cazeină</mark>!</h3>
                    <h4 style="margin: 20px;">Mâncărurile noastre sunt pregătite cu dragoste și pasiune, cu ingrediente naturale si bogate în nutrienți. Fie că urmezi o dietă fără gluten din motive de sănătate, că ești sensibil la lactoză sau că ai ales o viață fără zahăr, suntem aici să-ți oferim soluții delicioase pentru fiecare masă.</h4>
                    <h4 style="margin: 60px 20px 20px 20px;">Sperăm că vei încerca multe din rețetele noastre și că vei descoperi că mâncarea fără alergeni poate fi la fel de delicioasă și satisfăcătoare ca orice alt fel de mâncare. </h4>
                    <h4 style="margin: 20px;">Bucură-te de aventura culinară și nu uita să ne împărtășești impresiile tale în magazinele noastre fizice. </h4>
                    <h3 style="margin: 60px 20px 20px 20px; text-align: center;">Te așteptam cu drag 🙂 </h3>
                    <br> -->
                    <br>
            </tr>
            <td class="center">
                <tr style="background-color:rgba(199, 213, 239, 0.687)">
                    <td>
                        <br>
                        <img src="assets/img/pag1p4.jpeg" style="width: 300px; height: 300px; border-radius: 8px;" class="imag" alt="...">
                    </td>
                    <td>
                        <h3 class="mini">Despre noi :)</h3>
                        <p style="margin-right: 20px; font-family: Garamond; font-size: 20px;" >Am ales sa cream acesta pagina ca să ajutam oamenii să se bucure de mâncare delicioasă și sănătoasă, indiferent de restricțiile alimentare pe care le au.
                            Prin propriile experiențe, am înțeles cât de dificil poate fi să găsești rețete apetisante și sănătoase care să fie adaptate unui stil de viață fara alergeni. 
                            Dorind să oferim o soluție și o sursă de inspirație,am început să experimentam și să dezvoltam propriile rețete, descoperind combinații surprinzătoare și arome delicioase.
                            </p>
                    </td>
                </tr>
                <tr style="background-color:rgb(199, 213, 239, 0.687)">
                    <td>
                        <h3 class="mini">De ce retetele noastre sunt cele mai bune</h3>
                        <p style="margin-left: 20px; font-family: Garamond; font-size: 20px;">Noi credem cu tărie că alimentația sănătoasă nu ar trebui să fie o povară sau să renunți la gustul minunat al mâncărurilor tale preferate dulci. De aceea, am căutat, testat și rafinat o varietate de rețete fără gluten, zahăr și cazeină și am ajuns să creăm cele mai delicioase rețete care satisfac pofta de dulce, dar sunt și bune pentru noi.</p>
                    </td>
                    <td>
                        <img src="assets/img/nou.jpeg" style="width: 300px; height: 300px; border-radius: 8px;" class="" alt="...">
                        <br>
                        <br>
                    </td>
                </tr>

                <tr style="background-color:rgba(162, 186, 231, 0.329)">
                    <td>
                        <br>
                        <h1 class="umbra" style="text-align:center; font-family: Georgia;">SPOR LA GATIT!</h1>
                    <button type="button" class="btn btn-outline-dark col-md-12 text-center" routerLink="/doua">MERGI LA RETETE</button>
                    </td>

                    <td>
                        <br>
                    <h1 class="umbra" style="font-family: Georgia;">Vrei sa fi notificat cand postam retete noi?</h1>
                    <button type="button" class="btn btn-outline-dark col-md-12 text-center" routerLink="/login">Conecteaza-te</button>
                    </td>

                </tr>
            </td>
        </tbody>
    </table>
</body>
<!--
<body>
    <table class="width-100perc">
            <tbody>
                <tr style="background-color:rgb(199, 213, 239)">
                    <div class="alert alert-primary" role="alert">
                        <h1 style="text-align:center">Buna!</h1>
                        <h2 style="text-align:center">Bine ai venit  :)</h2>
                      </div>
                    <br>
                    <br>
                    <h3 style="margin: 20px;">Bun venit în lumea delicioasă a mâncărurilor <mark>fără gluten, zahăr și cazeină</mark>!</h3>
                    <h4 style="margin: 20px;">Mâncărurile noastre sunt pregătite cu dragoste și pasiune, cu ingrediente naturale si bogate în nutrienți. Fie că urmezi o dietă fără gluten din motive de sănătate, că ești sensibil la lactoză sau că ai ales o viață fără zahăr, suntem aici să-ți oferim soluții delicioase pentru fiecare masă.</h4>
                    <h4 style="margin: 60px 20px 20px 20px;">Sperăm că vei încerca multe din rețetele noastre și că vei descoperi că mâncarea fără alergeni poate fi la fel de delicioasă și satisfăcătoare ca orice alt fel de mâncare. </h4>
                    <h4 style="margin: 20px;">Bucură-te de aventura culinară și nu uita să ne împărtășești impresiile tale în magazinele noastre fizice. </h4>
                    <h3 style="margin: 60px 20px 20px 20px; text-align: center;">Te așteptam cu drag 🙂 </h3>
                    <br>
                    <br>
                    <br>
                    <br>
                </tr>
            </tbody>
    </table>
</body>
<body>
    <table class="width-100perc">
        <tbody class="center">
            <tr style="background-color:rgb(199, 213, 239)">
                <td>
                    <img src="assets/img/pag1p4.jpeg" style="width: 300px; height: 300px; border-radius: 8px;" class="imag" alt="...">
                </td>
                <td>
                    <h3 class="mini">Despre noi :)</h3>
                    <p style="margin: 20px;" >Am ales sa cream acesta pagina ca să ajutam oamenii să se bucure de mâncare delicioasă și sănătoasă, indiferent de restricțiile alimentare pe care le au.
                        Prin propriile experiențe, am înțeles cât de dificil poate fi să găsești rețete apetisante și sănătoase care să fie adaptate unui stil de viață fara alergeni. 
                        Dorind să oferim o soluție și o sursă de inspirație,am început să experimentam și să dezvoltam propriile rețete, descoperind combinații surprinzătoare și arome delicioase.
                        </p>
                </td>
            </tr>
            <tr style="background-color:rgb(199, 213, 239)">
                <td>
                    <h3 class="mini">De ce retetele noastre sunt cele mai bune</h3>
                    <p style="margin: 20px;">Noi credem cu tărie că alimentația sănătoasă nu ar trebui să fie o povară sau să renunți la gustul minunat al mâncărurilor tale preferate dulci. De aceea, am căutat, testat și rafinat o varietate de rețete fără gluten, zahăr și cazeină și am ajuns să creăm cele mai delicioase rețete care satisfac pofta de dulce, dar sunt și bune pentru noi.</p>
                </td>
                <td>
                    <img src="assets/img/pie.jpeg" style="width: 275px; height: 300px; border-radius: 8px;" class="" alt="...">
                    <br>
                    <br>
                </td>
            </tr>
        </tbody>
    </table>
</body>

<body>
    <table class="width-100perc">
        <tbody class="center">
            <tr style="background-color:rgb(199, 213, 239)">
                <h1 class="mini" style="text-align:center">SPOR LA GATIT!</h1>
                <button type="button" class="btn btn-outline-dark col-md-12 text-center" routerLink="/doua">MERGI LA RETETE</button>
            </tr>
            <tr style="background-color:rgb(220, 229, 245)">
                <br>
                <br>
                <h5>Vrei sa fi notificat cand postam retete noi?</h5>
                <button type="button" class="btn btn-outline-dark col-md-12 text-center" routerLink="/login">Conecteaza-te</button>
            </tr>
        </tbody>
    </table>
</body>
-->