<body class="background">
    <table class="width-100perc">
        <tbody>
            <tr>
                <button type="button" class="fa fa-home btn btn-outline-light col-md-5 text-center" style="width:75px" routerLink="/prima">Home</button>
            </tr>
            <!--
            <tr>
                <td style="font-size:80%; background-color:powderblue; font-family:courier; text-align:center">
                    <br>

                    <div>
                        <a class="btn btn-info fa fa-map-marker" href="https://www.google.com/maps/search/inginerie+sibiu/@45.7901888,24.1435302,17z/data=!3m1!4b1" role="button">Magazinele nostre fizice pentru a savura dulciurile</a>
                    </div>
                   
                    <br>

                   <tr class="inline">
                    <td>
                        <div>
                            <a class="btn btn-info fa fa-youtube-play" style="margin:3px" href="https://www.youtube.com/@JamilaCuisine" role="button"></a>
                        </div> 
                    </td>
                    <td>
                        <div>
                            <a class="btn btn-info fa fa-facebook-official" style="margin:3px" href="https://www.facebook.com/JamilaCuisine/?locale=ro_RO" role="button"></a>
                        </div>
                    </td>
                    <td>
                        
                        <div>
                            <a class="btn btn-info fa fa-instagram" style="margin:3px" href="https://www.instagram.com/jamilacuisine/?hl=en" role="button"></a>
                        </div>
                    </td>
                    <br>
                   </tr>
                   
                   <div>
                    <i class="fa fa-phone-square" style="margin: 5px;" aria-hidden="true"></i>
                    <a href="tel:0743873500"> 0743873500</a>
                    </div>
                    <br>
                </td>
            </tr>-->
        </tbody>
    </table>

<table class="background width-100perc">
    <tbody>
        <tr>
            <br>
            <p>  Torturi</p>
            <hr>
        </tr>
        <tr>
            <td>
                <div class="card" style="width: 18rem;">
                    <h4><span class="badge bg-secondary" style="font-size: 17px;">New</span></h4>
                    <img src="assets/img/poza1.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title frumos">Vegan key lime pie</h5>
                      <p class="card-text">Acest desert cremos, vegan este îndulcit natural și folosește ingrediente în întregime crude, fără lactate, cu curmale, crustă de nucă și nucă de cocos și o umplutură cremoasă de avocado.</p>
                      <button type="button" class="btn btn-outline-dark col-md-12 text-center" routerLink="/reteta1">Reteta</button>
                    </div>
                </div>
            </td>
            <td>
                
                <div class="card" style="width: 18rem;">
                    <img src="assets/img/tortcusorbet.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title frumos">Choc-cherry fudge torte with cherry sorbet</h5>
                      <p class="card-text">Această prăjitură divină de ciocolată nu are lactate și fără gluten, așa că toată lumea se poate bucura de o felie la desert - chiar și veganii de la petrecerea dvs.</p>
                      <button type="button" class="btn btn-outline-dark col-md-12 text-center" routerLink="/reteta2">Reteta</button>
                    </div>
                </div>

            </td>
            <td>
                
                <div class="card" style="width: 18rem;">
                    <img src="assets/img/tortmure.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title frumos">Berry nice cream cake</h5>
                      <p class="card-text">Bucurați-vă de o variantă vegană și fără gluten a unui desert de vară cu o prăjitură cu „cremă bună” cu fructe de pădure, făcută cu un strat cremos de caju, banane și curmale, plus un topping de afine</p>
                      <button type="button" class="btn btn-outline-dark col-md-12 text-center" routerLink="/reteta3">Reteta</button>
                    </div>
                </div>

            </td>
            
        </tr>

        <tr>
            <br>
            <p>  Sorbet/Inghetata</p>
            <hr>
        </tr>

        <tr>
            <td>
                <div class="card" style="width: 18rem;">
                    <img src="assets/img/zmeura.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title frumos">Raspberry sorbet</h5>
                      <p class="card-text">Fă-ți propriul sorbet de zmeură cu doar trei ingrediente. Perfect pentru zilele fierbinți de vară sau pentru asociere cu buduri de ciocolată – și este și vegan</p>
                      <button type="button" class="btn btn-outline-dark col-md-12 text-center" routerLink="/reteta4">Reteta</button>
                    </div>
                </div>
            </td>
            <td>
                
                <div class="card" style="width: 18rem;">
                    <img src="assets/img/lamaie.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title frumos">Lemon sorbet</h5>
                      <p class="card-text">Un sorbet de lămâie simplu și răcoritor cu doar 4 ingrediente, servit ca desert ușor sau între feluri la o cină</p>
                      <button type="button" class="btn btn-outline-dark col-md-12 text-center" routerLink="/reteta5">Reteta</button>
                    </div>
                </div>

            </td>
            <td>
                
                <div class="card" style="width: 18rem;">
                    <img src="assets/img/matcha.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title frumos">Matcha froyo ice lollies</h5>
                      <p class="card-text">Vrei o acadele de înghețată pentru adulți sau ai nevoie de o variantă vegană de înghețată? Încercați aceste acadele matcha froyo făcute cu iaurt de cocos și matcha pentru un răsfăț răcoritor de vară</p>
                      <button type="button" class="btn btn-outline-dark col-md-12 text-center" routerLink="/reteta6">Reteta</button>
                    </div>
                </div>

            </td>
            
        </tr>
    </tbody>
</table>


</body>
