<div class="container">
    <div class="row mt-5"> <!--il desparte de header-->
        <div class="col"></div>  <!--il pune la mij-->
        <div class="col-4"> <!-- il face sa nu fie lat pe toata pag-->
            <div class="card shadow">
            <div class="card-body">
                <form>
                    <h2 style="color:rgb(230, 70, 158);font-weight: bold; font-family: Georgia; font-size: 30px;">Login</h2>
                    <div>
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input type="email" class="form-control" name="email" [(ngModel)]="email">
                    </div>
                    <div class="mb-3">  <!--spatiu intre buton si el-->
                        <br>
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="password" class="form-control" name="password" [(ngModel)]="password">
                    </div>
                    <button style="font-weight: bold;" type="button" class="btn btn-outline-success" (click)="login()">Login</button>
                  <!-- <button type="button" class="btn" style="margin-left: 20px; color: black;"  routerLink="/prima">Acasa</button> --> 

                    <div class="row">
                        <div class="col-6">
                            <br>
                            <a href="/register" style="color:rgb(174, 20, 105)">Need account? </a>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <div class="col"></div>  <!--sta pe mij-->
</div>
</div>
