.card{
    width: 500px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgb(151, 180, 157);
    padding: 30px;
    border-radius: 20px;
}
