<!--
<nav class="navbar navbar-dark bg-info">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
        <td>
          <img src="assets/img/logo1.png" alt="logo" width="90" height="80">
        <span class="bum"style="color:rgb(64, 55, 60)">  Retetele Lisei !!!</span>
        </td>

      <td>
     <tr>
      <td>
          <div class="dreapta1 telefon">
              <p><a class="btn fa fa-youtube-play" style="margin:3px" href="https://www.youtube.com/@JamilaCuisine" role="button"></a></p>
          </div> 
      </td>
      <td>
          <div class="telefon">
             <p> <a class="btn fa fa-facebook-official" style="margin:3px" href="https://www.facebook.com/JamilaCuisine/?locale=ro_RO" role="button"></a></p>
          </div>
      </td>
      <td>
          
          <div class="telefon">
             <p> <a class="btn fa fa-instagram" style="margin:3px" href="https://www.instagram.com/jamilacuisine/?hl=en" role="button"></a></p>
          </div>
      </td>
      <td>
        <div class="telefon">
            <p><a class="btn fa fa-map-marker" style="margin:3px" href="https://www.google.com/maps/dir//Strada+Sibiului+5,+%C8%98elimb%C4%83r+557260/@45.776651,24.0984749,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x474c5d8875a56a91:0x7ccfb78a7ee17277!2m2!1d24.1688864!2d45.7768917" role="button"></a></p>
        </div> 
    </td>
    <td>
      <div class="telefon">
          <p><a class="btn fa fa-phone-square" style="margin: 5px;" aria-hidden="true" href="tel:0743873500" role="button"></a></p>
      </div> 
  </td>
     </tr>

      </td>

    </a>
  </div>
</nav>-->

  <mat-toolbar style="background-color: rgb(104, 172, 212); height: 100px;">
    <td>
      <img style="border-radius: 30px;" src="assets/img/logo1.png" alt="logo" width="90" height="80">
    <span class="bum"style="color:rgb(64, 55, 60);">  Retetele Lisei !!!</span>
    </td>


 <td>
     <tr>
          <div class="dreaptatext">
            <a><td>  <button type="button" class="btn" routerLink="/prima">Despre noi</button> </td></a>
            <a><td>  <button type="button" class="btn" routerLink="/doua">Retete</button> </td></a>
            <a><td>  <button type="button" class="btn" routerLink="/nutritie">Date nutritionale</button> </td>  </a>
          </div>
      </tr>
</td>


  <td>
 <tr>
  <td>
      <div class="dreapta1 telefon">
          <a class="btn fa fa-youtube-play" style="margin:3px" href="https://www.youtube.com/@JamilaCuisine" role="button"></a>
      </div> 
  </td>
  <td>
      <div class="telefon">
          <a class="btn fa fa-facebook-official" style="margin:3px" href="https://www.facebook.com/JamilaCuisine/?locale=ro_RO" role="button"></a>
      </div>
  </td>
  <td>
      
      <div class="telefon">
         <a class="btn fa fa-instagram" style="margin:3px" href="https://www.instagram.com/jamilacuisine/?hl=en" role="button"></a>
      </div>
  </td>
  <td>
    <div class="telefon">
       <a class="btn fa fa-map-marker" style="margin:3px" href="https://www.google.com/maps/dir//Strada+Sibiului+5,+%C8%98elimb%C4%83r+557260/@45.776651,24.0984749,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x474c5d8875a56a91:0x7ccfb78a7ee17277!2m2!1d24.1688864!2d45.7768917" role="button"></a>
    </div> 
</td>
<!--
<td>
  <div class="telefon">
     <a class="btn fa fa-phone-square" style="margin: 5px;" aria-hidden="true" href="tel:0743873500" role="button"></a>
  </div> 
</td>-->

 </tr>
  </td>
  </mat-toolbar>
