<body>
    <table class="width-100perc">
        <tbody>
            <tr style="background-color:rgb(199, 213, 239)">
                <td>
                    <img src="assets/img/poza1.png" style="width: 300px; height: 300px;" class="card-body" alt="...">
                </td>
                <td style="width:6000px">
                    <div>
                        <h1 style="font-size: 25px; font-weight: bold; font-family: Georgia;">Vegan key lime pie</h1>
                        <p style="font-family: Garamond;">Rating in magazinele noastre fizice</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 99%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <br>
                          <tr>
                            <div class="inline">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                            Durata: 25min + 3 ore racirea
                            </div>
                          </tr>
                          <tr>
                            <div class="inline">
                                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                Nivel: usor
                              </div>
                          </tr>
                          <tr>
                              <div class="inline">
                                <i class="fa fa-cutlery" aria-hidden="true"></i>
                                Servire: 12 portii
                              </div>
                          </tr>
                            <tr>
                             <br>
                             <div class="inline">
                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                FARA: lactoza, cazeina, oua, gluten, zahar
                              </div>
                                <p>Este: vegana si vegetariana</p>
                            </tr>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table>
        <tbody>
            <tr style="background-color:rgb(215, 193, 230)">
                <td style="padding: 20px;">
                    <h2 style="text-shadow: 2px 2px 4px #7baf8ae1;">Ingrediente</h2>
                    <hr>
                    <p>coaja 1 lime plus cateva felii subtiri pentru decorare (optional)</p>
                    <h2>Pentru blat</h2>
                    <p>225 g curmale fără sâmburi înmuiate timp de 4-6 ore dacă sunt prea uscate</p>
                    <p>100 g nuci</p>
                    <p>45 g nucă de cocos deshidratată</p>
                    <p>30 g cacao pudră (vezi sfatul)</p>
                    <p>1 lingură sare (Tanya folosește sare de Himalaya)</p>
                    <h2>Pentru umplutura</h2>
                    <p>200 g nuci caju la macerat 4-6 ore</p>
                    <p>240 ml suc de lime (suc de aproximativ 8 lime)</p>
                    <p>1 ½ avocado copt</p>
                    <p>½ mango copt</p>
                    <p>210 g ulei de cocos topit</p>
                    <p>110 g nectar de agave</p>
                </td>
                <td style="padding: 20px;">
                   
                    <h2 style="text-shadow: 2px 2px 4px #7baf8ae1;">Metoda</h2>
                    <hr>
                    <p> PASUL 1
                        Trimiteți toate ingredientele crustei într-un robot de bucătărie cu o lamă S. Transferați amestecul într-o formă de tartă liberă de 23 cm. Folosind pumnul, apăsați amestecul uniform pe baza și pe părțile laterale ale formei.</p>

                    <p>PASUL 2
                        Pentru a pregăti umplutura, amestecați toate ingredientele într-un blender de mare viteză la o setare de viteză mare sau presă într-un blender de bază până când devine omogen și cremos.</p>
                    
                    <p>PASUL 3
                        Se toarnă umplutura pe crustă și se agită puțin tava pentru a o uniformiza. Răciți timp de minim 3 ore pentru a se întări. Decorați cu coaja de lime și felii, dacă doriți. Se va păstra la congelator până la 2 luni. Dezghețat la frigider, se păstrează 1 săptămână.</p>
                </td>
            </tr>
        </tbody>
    </table>
</body>
