<body>
    <table class="width-100perc">
        <tbody>
            <tr style="background-color:rgb(199, 213, 239)">
                <td>
                    <img src="assets/img/tortmure.png" style="width: 300px; height: 300px;" class="card-body" alt="...">
                </td>
                <td style="width:6000px">
                    <div>
                        <h1 style="font-size: 25px; font-weight: bold;font-family: Georgia;">Berry nice cream cake</h1>
                        <p style="font-family: Garamond;">Rating in magazinele noastre fizice</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <br>
                          <tr>
                            <div class="inline">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                            Durata: 20min
                            </div>
                          </tr>
                          <tr>
                            <div class="inline">
                                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                Nivel: mai mult efort
                              </div>
                          </tr>
                          <tr>
                              <div class="inline">
                                <i class="fa fa-cutlery" aria-hidden="true"></i>
                                Servire: 12 portii
                              </div>
                          </tr>
                             <tr>
                             <br>
                             <div class="inline">
                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                FARA: lactoza, cazeina, oua, gluten, zahar
                              </div>
                                <p>Este: vegana si vegetarian</p>
                          </tr>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table>
        <tbody>
            <tr style="background-color:rgb(215, 193, 230)">
                <td style="padding: 20px;">
                    <h2 style="text-shadow: 2px 2px 4px #7baf8ae1;">Ingrediente</h2>
                    <hr>
                    <h2>Pentru stratul frumos de tort cu crema de vanilie</h2>
                    <p>300 g caju crude</p>
                    <p>2 banane coapte</p>
                    <p>10 curmale medjool fără sâmburi</p>
                    <p>½ păstaie de vanilie, semințele răzuite (sau ½ linguriță extract de vanilie)</p>
                    <p> 60 ml lapte de soia neindulcit</p>
                    <h2>Pentru stratul de fructe de pădure</h2>
                    <p>200 g afine congelate, plus extra pentru servire</p>
                    <p>240 ml lapte de soia, și mai mult pentru a dilua după nevoie</p>
                    <p>5 curmale medjool fără sâmburi</p>
                    <p>100 g nuci crude</p>
                    <p>mure, de servit (optional)</p>
                </td>
                <td style="padding: 20px;">
                    <h2 style="text-shadow: 2px 2px 4px #7baf8ae1;">Metoda</h2>
                    <hr>
                    <p>PASUL 1
                        Înmuiați caju în apă timp de 4 ore sau peste noapte. Tăiați banana în felii de 2 cm și aranjați într-un singur strat pe o farfurie tapetată cu pergament. Congelați fie peste noapte, fie cu cel puțin 4 ore înainte de a începe.</p>
                    <p>PASUL 2
                        Într-un blender, amestecați caju înmuiate și scurse, bananele congelate, curmalele și semințele de vanilie până când sunt omogene și cremoase, adăugând treptat laptele de soia pentru a aduce amestecul. Turnați într-o formă rotundă de 18-20 cm pentru tort. Congelați cel puțin 2 ore.</p>
                    <p>PASUL 3
                        Pentru stratul de fructe de pădure, amestecați afinele, laptele de soia, curmalele și nucile până se omogenizează într-un blender. Răspândiți cu grijă deasupra stratului de prăjitură cu cremă de vanilie și puneți la congelator pentru 2-3 ore sau până când se fixează. Decorați blatul cu afine suplimentare și câteva mure, dacă doriți.</p>
            </tr>
        </tbody>
    </table>
</body>
