<div class="container-fluid">
    <div class="row mt-5"> <!--il desparte de header-->
        <div class="col"></div>  <!--il pune la mij-->
        <div class="col-4"> <!-- il face sa nu fie lat pe toata pag-->
            <div class="card shadow">
            <div class="card-body">
                <form>
                    <h2>Login</h2>
                    <div>
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input type="email" class="form-control" name="email">
                    </div>
                    <div class="mb-3">  <!--spatiu intre buton si el-->
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="password" class="form-control" name="password">
                    </div>
                    <button type="button" class="btn btn-info">Login</button>

                    <div class="row">
                        <div class="col-6">
                            <a href="" style="color:rgb(174, 20, 105)">Need account? </a>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <div class="col"></div>
</div>
</div>